* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
    color: #1ccb00;
    background-color: rgb(43, 43, 43);
}

body {
  font-size: 50px;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 20px;
  opacity: 1;
  background-color: black;
  border-bottom: 1px solid rgb(19, 19, 19);
}

.nav-bar > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: right;
}

.nav-bar > ul > li {
  list-style-type: none;
  margin: 6px;
}

.nav-bar > ul > li > a {
  text-decoration: none;
  color: white;
}

.nav-bar > ul > li > a:hover {
  color: #1ccb00;
  text-decoration: underline;
}

.nav-bar > ul > li > a::selection {
    color: white;
    background-color: blue;
}

.highlight {
  color: #1ccb00;
  font-size: larger;
}

.highlight::selection {
    color: orange;
}

#home {
  margin: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
}

.blink {
  color: orange;
  font-size: larger;
  font-weight: bolder;
  animation: blink-animation 0.75s step-end infinite;
}

.blink::selection {
    color: white;
}

@keyframes blink-animation {
  from,
  to {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}
